input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

:root{
    --primary-background-color: white;
    --secondary-background-color: #dddddd;
    --conversion-color: white;
    --header-color: #5A537B;
    --text-color: #353535;
    --icon-background-color: #1C1C1C;
}

.darkmode{
    --primary-background-color: #1C1C1C;
    --secondary-background-color: #1F2937;
    --conversion-color: #273549;
    --header-color: #CCC1FF;
    --text-color: #FFFFFF;
    --icon-background-color: whitesmoke;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--icon-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-switch svg{
    fill: #6943FF;
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

body {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    background-color: var(--primary-background-color);
    margin: 0;
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0 auto;
    width: 550px;
    height: 230px;
    background-color: #6943FF;
    padding: 20px;
}

#input-el{
    width: 120px;
    height: 40px;
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

#input-el::placeholder {
    color: rgb(180, 180, 180);
    font-size: 24px;
}

#convert-btn{
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#convert-btn:hover {
    color: whitesmoke;
    background-color: #3600ca;
}

#output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: var(--secondary-background-color);
    width: 550px;
    height: 500px;
    padding: 20px;
}

.conversion-container{
    height: 150px;
    width: 480px;
    text-align: center;
    background-color: var(--conversion-color);
    margin: 10px 0;
}

.conversion-header{
    color: var(--header-color);
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 30px 0;
}

.conversion-info{
    font-size: 14px;
    color: var(--text-color);
}